.boardName {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  justify-self: center;
  margin-left: 45px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-y: auto;
}

.boardName::-webkit-scrollbar {
  width: 0;
}

.headerArea {
  display: grid;
  width: 305px;
  height: 30px;
  margin-bottom: 21px;
  grid-template-columns: 5fr 1fr 0px;
  align-items: center;
}